<div class="container boardDetail" >
  <div class="row" >
    <div class="col-md-12">
      <h2>{{boardName}}  
    <a ng-href="#!/newPin"><img class="newPinBtn" src="https://d30y9cdsu7xlg0.cloudfront.net/png/32881-200.png"></a>
    </h2>
    </div>

  </div>
  <div class="row spacing">
    <div class="col-md-4" ng-repeat="item in pins">
      <div class="panel panel-default">
     
        <div class="panel-heading">
         
          <h3 class="panel-title">
            {{item.name}}
            <div class="btn-group pull-right navbar-right">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <a class="glyphicon glyphicon-edit" ng-href="#!/{{item.id}}/edit"></a>
            </div>
          </h3>
       	</div>
       	<div class="panel-body">
       	  <img class="smallPin" src="{{item.url}}">
       	   	<p>
  					{{item.description}}
  					</p>
       	</div>
       	<div class="panel-footer">
          <span class="btn">{{item.tags}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
