<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            title
            <div class="btn-group pull-right navbar-right">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </div>
          </h3>
       	</div>
       	<div class="panel-body">
       	  <img class="poster" src="pin.url">
       	   	<p>
						description
						</p>
       	</div>
       	<div class="panel-footer">
          <span class="btn">year</span>
          <div class="pull-right">
            <a class="btn btn-default addToWatchlist">Add to Watchlist</a>
          </div>
          <div class="clearfix">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
