<h1>Make a New Pin</h1>
<form class="form--demo col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
  
  <div class="form-group">
    <label>Url/img</label>
    <input type="text" class="form-control" ng-model="pin.url"></input>
  </div>
  <div class="form-group">
    <label>Name/Title</label>
    <input type="text" class="form-control" ng-model="pin.name"></input>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" ng-model="pin.description"></input>
  </div>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><label>Boards</label>
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li ng-repeat="item in boards" ng-click="addBoard(item.id, item.title)">{{item.title}}</li>
      <li><input type="text" placeholder="new board" ng-model="temp" ng-keypress="newBoard($event)"></input></li>
    </ul>
    {{boardName}}
  </div><br>
  <div class="form-group">
    <label>Tags</label>
    <input type="text" class="form-control" ng-model="pin.tags"></input>
  </div>
  <div class="text-center">
    <button type="button" ng-click="submitPin()" class="btn btn-default btn-primary">Create Pin</button>
  </div>
</form>
