<h1></h1>
<form class="form--demo col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
  <div class="form-group">
    <label>Url/img</label>
    <input type="text" class="form-control" ng-model="pin.url"></input>
  </div>
  <div class="form-group">
    <label>Name/Title</label>
    <input type="text" class="form-control" ng-model="pin.name"></input>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" ng-model="pin.description"></input>
  </div>
  <div class="form-group">
    <label>User text</label>
    <input type="text" class="form-control" ng-model="pin.user_text"></input>
  </div>
  <div class="form-group">
    <label>Boards</label>
    <select class="form-control" ng-model="pin.boards">
      <option value="board1">Board 1</option>
      <option value="board2">Board 2</option>
      <option value="board3">Board 3</option>
      <option value="board4">Board 4</option>
    </select>
  </div>
  <div class="form-group">
    <label>Tags</label>
    <input type="text" class="form-control" ng-model="pin.tags"></input>
  </div>
  <div class="text-center">
    <button ng-click="submitPin()" class="btn btn-default btn-primary">Submit Pin</button>
  </div>
</form>